<!doctype html>
<html lang="no">
<head>
  <meta charset="utf-8">
  <title>Logg inn</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="box">
    <h1>Logg inn</h1>
    {% if error %}
      <div class="message">{{ error }}</div>
    {% endif %}
    <form method="post">
      <label>Brukernavn</label>
      <input name="username" required>

      <label>Passord</label>
      <input name="password" type="password" required>

      <button type="submit">Logg inn</button>
    </form>
    <p style="margin-top:12px;">Ingen bruker? <a href="{{ url_for('register') }}">Registrer her</a></p>
    <p class="footer">© TechSupport AS — Created in Norway</p>
  </div>
</body>
</html>
